<div data-ng-show="active"  class="tab-pane active" id="sdk-pane">
    <div class="btn-toolbar" style="margin-left:10px">
        <div class="btn-group">
            <a href="https://github.com/dreamfactorysoftware/javascript-sdk/archive/master.zip" class="btn btn-success">Download SDK</a>
            <a href="https://github.com/dreamfactorysoftware/javascript-sdk" target="blank" class="btn btn-inverse">View on Github</a>
        </div>
    </div>


    <div id="docs" class="well">
        <iframe id="docsFrame" frameBorder=0 src="{{iframeUrl}}" width="100%" ></iframe>
    </div>
</div>
