<div data-ng-show="active"  class="tab-pane active" id="sdk-pane">
    <div class="btn-toolbar" style="margin-left:10px">
        <div class="btn-group">
            <div class="btn-group">
                <a class="btn btn-small" href="https://github.com/dreamfactorysoftware/javascript-sdk" target="df-new"><span
                        class="icon-download-alt"></span> JavaScript SDK </a>
                <a class="btn btn-small" href="https://github.com/dreamfactorysoftware/ios-sdk" target="df-new"><span
                        class="icon-download-alt"></span> iOS SDK </a>
                <a class="btn btn-small" href="https://github.com/dreamfactorysoftware/android-sdk" target="df-new"><span
                        class="icon-download-alt"></span> Android SDK </a>
            </div>
        </div>
    </div>


    <div id="docs" class="well">
        <iframe id="docsFrame" frameBorder=0 src="{{iframeUrl}}" width="100%" ></iframe>
    </div>
</div>
