.idea
vendor
!web/public/vendor/bootstrap
shared
log
storage
composer.phar
composer.lock
composer.json
.composer/
web/admin
web/assets
web/admin
web/launchpad
web/web-core
web/favicon.ico
id_deploy
test.php
test.sh
src/Platform/*.moved
*.moved.php
*.setdev-on
