.idea
vendor
log
storage
composer.phar
composer.lock
.composer/
web/assets
web/favicon.ico
!web/vendor/
id_deploy
test.php
test.sh
*.moved.php
*.setdev-on
web/portal-sandbox
web/pbox
web/dfna
vendor/dreamfactory/*.setdev-on
vd
config/salt.config.php
tests/config/salt.config.php
tests/config/keys.config.php

