<div class="panel-group" id="application-list">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#application-list" href="#default-app-list">{{name}}</a>
			</h4>
		</div>
		<div class="panel-collapse in" id="default-app-list">
			<div class="panel-body"></div>

			<div class="list-group">
				<a  class="list-group-item group-item" onclick="Actions.showApp('{{api_name}}','{{launch_url}}','{{is_url_external}}','{{requires_fullscreen}}');">
					<h4>{{name}}</h4>

					<p>{{description}}</p>
				</a>
			</div>
		</div>
	</div>
</div>

<li class="list-group-item">
	<div class="app-list-item">
		<h3 class="app-list-item-title">
			<a href="#" onClick="Actions.showApp('helloworld','https://bender.cloud.dreamfactory.com/app/applications/helloworld/index.html','false',false, true);"><i
				class="app-list-item-icon fa fa-cube fa-3x"></i>Hello World
			</a>
		</h3>

		<p class="app-list-item-body lead">A tiny sample application showing how to make a RESTful call to your DreamFactory Services Platform (DSP).</p>
	</div>
</li>

<ul id="apps-groupless" class="list-group panel-collapse collapse in">

	<li class="list-group-item">
		<a onclick="Actions.showApp('todoangular','https://bender.cloud.dreamfactory.com/app/applications/todoangular/index.html','false',false, true)">
			<h4>Todo List AngularJS</h4>

			<p>A simple AngularJS application showing how to create, update, and delete database records on the DreamFactory Services Platform.</p></a>
	</li>
	<li class="list-group-item">
		<a onclick="Actions.showApp('todojquery','https://bender.cloud.dreamfactory.com/app/applications/todojquery/index.html','false',false, true)">
			<h4>Todo List jQuery</h4>

			<p>A simple jQuery application showing how to create, update, and delete database records on the DreamFactory Services Platform.</p></a>
	</li>
	<li class="list-group-item">
		<a onclick="Actions.showApp('todosencha','https://bender.cloud.dreamfactory.com/app/applications/todosencha/index.html','false',false, true)">
			<h4>Todo List Sencha</h4>

			<p>A simple Sencha application showing how to create, update, and delete database records on the DreamFactory Services Platform.</p></a>
	</li>
	<li class="list-group-item">
		<a onclick="Actions.showApp('add','https://bender.cloud.dreamfactory.com/app/applications/add/index.html','false',false, true)"><h4>Address Book</h4>

			<p>A sample ExtJS/Sencha application for the DreamFactory Services Platform that runs on desktop and mobile.</p></a>
	</li>
	<li class="list-group-item">
		<a onclick="Actions.showApp('calendar','https://bender.cloud.dreamfactory.com/app/applications/calendar/index.html','false',false, true)"><h4>Calendar</h4>

			<p>A sample application showing how to perform CRUD operations on your DreamFactory Services Platform (DSP).</p></a>
	</li>
	<li class="list-group-item">
		<a onclick="Actions.showApp('portal-sandbox','/portal-sandbox/index.php','true',false, false)"><h4>portal-sandbox</h4>

			<p>Portal Sandbox</p></a>
	</li>
	<li class="list-group-item">
		<a onclick="Actions.showApp('hotornotautos','https://bender.cloud.dreamfactory.com/app/applications/hotornotautos/index.html','false',false, true)">
			<h4>HotOrNotAutos</h4>

			<p>A sample application showing how to make RESTful calls to a remote web service.</p></a>
	</li>
</ul>
</div>
</div>