<div id="app-groups-container">
	<div class="panel-group" id="accordion">
		{{#Applications.app_groups}}
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title group-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{id}}">{{name}}</a>
					</h3>
				</div>
				{{#description}}
					<div class="panel-body group-description"><p>{{description}}</p></div>
				{{/description}}

				<ul id="collapse-{{id}}" class="list-group">
					{{#apps}}
						<li>
							<a href="#"
							   class="list-group-item app-listing list-group-item-warning "
							   data-ng-click="Actions.showApp('{{api_name}}','{{launch_url}}','{{is_url_external}}','{{requires_fullscreen}}');">
								<h4 class="list-group-item-heading">{{name}}</h4>

								<p class="list-group-item-text">{{description}}</p>
							</a>
						</li>
					{{/apps}}
				</ul>
			</div>
		{{/Applications.app_groups}}
		{{#Applications.mnm_ng_apps}}
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title group-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{id}}">Default Group</a>
					</h3>
				</div>
				{{#description}}
					<div class="panel-body group-description"><p>{{description}}</p></div>
				{{/description}}


				<ul id="collapse-{{id}}" class="list-group">
					{{#apps}}
						<li>
							<a href="#"
							   class="list-group-item app-listing list-group-item-warning"
							   onClick="Actions.showApp( '{{api_name}}', '{{launch_url}}', '{{is_url_external}}', {{requires_fullscreen}}, {{allow_fullscreen_toggle}} );">
								<h4 class="list-group-item-heading">{{name}}</h4>

								<p class="list-group-item-text">{{description}}</p>
							</a>
						</li>
					{{/apps}}
				</ul>
			</div>
		{{/Applications.mnm_ng_apps}}
	</div>
</div>