<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading resource-header"><strong>Applications</strong>
    <div id="app-buttons" class="btn-group btn-group-sm pull-right">
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                Download SDK <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="https://github.com/dreamfactorysoftware/javascript-sdk" target="df-new">JavaScript SDK </a></li>
                <li><a  href="https://github.com/dreamfactorysoftware/ios-sdk" target="df-new"><iOS SDK </a></li>
                <li><a href="https://github.com/dreamfactorysoftware/android-sdk" target="df-new">Android SDK </a></li>
            </ul>
        </div>
        <button ng-click="goToImport()" class="btn btn-default">
            <span class="fa fa-upload"></span>
            Import New App
        </button>
        <button ng-click="promptForNew()" class="btn btn-default">
            <span class="fa fa-plus-square"></span>
            Create New App
        </button>
    </div>
</div>

<table id="resource-container">
    <tr>
        <td>
            <input placeholder="Filter by Name" type="text" class="form-control" data-ng-model = "searchText"/><br/>
            <ul id="resource-list" class="list-group">


                <li ng-click="showDetails()" data-ng-class="app.id === currentAppId ? 'active' : ''"  class="list-group-item" ng-repeat="app in Apps.record | filter:searchText" id="row_{{app.id}}">
                    <span class="resource-name" >{{app.name}}</span>

                            <span class="btn-group btn-group-sm" style="text-align:right;">
                                <button data-ng-if="app.launch_url != null && app.launch_url !=''"
                                        class="btn btn-default" title="Preview this app"
                                        ng-click="showAppPreview(app.launch_url, app.api_name)"><i
                                        class="fa fa-eye"></i></button>
                                <button data-ng-if="app.storage_service_id" class="btn btn-default"
                                        title="Manage app files" ng-click="showFileManager()"><i
                                        class="fa fa-folder-open"></i></button>
                                <button class="btn btn-default" title="Delete this app" ng-click="delete()"><i
                                        class="fa fa-trash-o"></i></button>
                            </span>

                </li>
            </ul>
        </td>
        <td style="width:100%">
            <h3>{{action}} application</h3>

            <div>

                <div class="add_new">
                    <div id="file-manager">
                        <iframe style="display:none" frameBorder=0 ng-src=""></iframe>
                    </div>
                    <div id="app-preview">
                        <iframe style="display:none" frameBorder=0 ng-src=""></iframe>
                    </div>
                    <div id="step1">
                        <div id="context-root" class="local">
                            <label><b>App Name</b></label><span class="text-info"> <strong>This is your API KEY
                            (X-DreamFactory-Application-Name)
                        </strong></span><input class="form-control" ng-disabled="action=='Update'" type="text"
                                               ng-model="app.api_name">
                        </div>
                        <br/>

                        <div class="options">
                            <label><i class="fa fa-hdd-o"></i>&nbsp;<b>Where will this app live?</b></label>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <input type="radio" ng-model="app.is_url_external" value='0'/>&nbsp;&nbsp;Use our
                                    default
                                    file storage service or one of your own.
                                </li>
                                <li class="list-group-item">
                                    <input type="radio" ng-model="app.is_url_external" value='-1'/>&nbsp;&nbsp;On a
                                    native
                                    device or remote client / desktop.
                                </li>
                                <li class="list-group-item">
                                    <input type="radio" ng-model="app.is_url_external" value='1'/>&nbsp;&nbsp;I will
                                    just
                                    supply a URL to point to my application.
                                    <div data-ng-if="app.is_url_external==1">
                                        <br/>
                                        <input class="form-control" style="width:80%;"
                                               placeholder="http://www.myserver.com/"
                                               name="app_path" type="text"
                                               ng-model="app.url">
                                    </div>

                                </li>
                            </ul>


                            <br/>

                            <div data-ng-if="app.is_url_external == 1" class="alert alert-success">Your URL will be:
                                {{app.url}}
                            </div>
                            <div data-ng-hide="app.is_url_external!=0" id="remote_storage">Choose where you want your
                                files
                                for
                                this app stored. The file service is our default storage service.
                                <br/>
                                <label ng-hide="app.is_url_external!=0">Storage Service</label>
                                <select class="form-control" ng-change="loadStorageContainers()"
                                        ng-hide="app.is_url_external!=0"
                                        ng-model="app.storage_service_id">
                                    <option ng-selected="service.id == app.storage_service_id" value={{service.id}}
                                            ng-repeat="service in storageServices">{{service.api_name}}
                                    </option>
                                </select>
                                <br/>
                                <label ng-hide="app.is_url_external != 0">Storage Container</label>
                                <select class="form-control" ng-hide="app.is_url_external != 0" id="storage_options"
                                        ng-model="app.storage_container"
                                        ng-options="option.name as option.name for option in storageOptions">
                                </select>
                            </div>
                        </div>
                        <br/>

                        <div ng-hide="app.is_url_external != 0">
                            <p><b>Public name on LaunchPad</b></p>
                            <input class="form-control" type="text" ng-model="app.name">
                        </div>
                        <br/>

                        <div ng-hide="app.is_url_external != 0">
                            <p><b>Public description on LaunchPad</b></p>
                            <input class="form-control" name="app_desc" type="text" ng-model="app.description">
                        </div>
                        <br/>

                        <div ng-show="app.is_url_external==0">
                            <p><b>Default Path<span class="text-info"> This is the default file to load when your app is loaded.</span></b></p>
                            <input class="form-control" class="local" placeholder="index.html" name="app_path" type="text"
                                   ng-model="app.url">
                            <br/>
                            <div ng-show="app.is_url_external==0" class="alert alert-success local">
                                <li class="icon-cloud"></li>
                                &nbsp;Your URL will be:
                                {{currentServer}}/{{storageContainers[app.storage_service_id].name}}/{{app.storage_container}}/{{app.api_name}}<span>{{app.url}}</span>
                            </div>

                        </div>
                        <span class="glyphicon glyphicon-fullscreen"></span> <b>Full Screen Options</b><br/><br/>
                        <ul class="list-group">
                            <li class="list-group-item" ng-hide="app.is_url_external != 0">
                                <input  class="form-control-static" type="checkbox" ng-checked="app.requires_fullscreen == 1"
                                        ng-model="app.requires_fullscreen">&nbsp;Run Full Screen without Toggle
                            </li>
                            <li class="list-group-item" ng-hide="app.is_url_external != 0">
                                <input class="form-control-static" type="checkbox" ng-checked="app.allow_fullscreen_toggle == 1"
                                       ng-model="app.allow_fullscreen_toggle">&nbsp;Show Full Screen with Toggle
                            </li>
                        </ul>

                        <br/>


                        <div><br/>

                            <p><b>Assign this app to a role(s).</b></p>

                            <div class="alert alert-info">
                                <li class="fa fa-info"></li>
                                Each user who is assigned to one of the selected roles will have access to this app.
                                Go
                                to the Roles tab to create and manage roles.
                            </div>
                            <table class="table table-hover table-striped table-bordered">

                                <tr ng-repeat="role in Roles.record" id="row_{{role.id}}">
                                    <td><input ng-click="addRoleToApp($event.target.checked)"
                                               ng-checked="isAppInRole()"
                                               type="checkbox"/></td>
                                    <td style="width:100%">{{role.name}}</td>

                                </tr>


                            </table>


                        </div>


                    </div>


                    <div id="alert_container">
                        <div ng-repeat="alert in alerts" class="alert">
                            <button onclick="$('.alert').fadeOut();" type="button" class="close">&times;</button>
                            <strong>{{alert.message}}</strong>
                        </div>
                    </div>

                    <div data-ng-show="action=='Create'" id="create_button">
                        <input type="checkbox" data-ng-model = "create_another"/>&nbsp;Create Another&nbsp;
                        <a ng-click="create()"
                                                                               class="btn btn-primary">
                        <li class="fa fa-arrow-circle-right"></li>
                        &nbsp;Create Application</a></div>
                    <div id="update_button" data-ng-show="action=='Update'"><a ng-click="save()"
                                                                               class="btn btn-primary">
                        <li class="fa fa-save"></li>
                        &nbsp;Update Application</a></div>


                </div>
            </div>
        </td>
    </tr>
</table>


<iframe style="display:none" id="sdk-download" src=""></iframe>


<!-- List group -->

</div>





