<div data-ng-include='"_navbar.html"' onload="setTitle('Application Manager')"></div>

<!-- Default panel contents -->
<div id="resource-container" class="container-fluid">
	<div class="row">
		<div class="col-md-3 has-feedback">
			<input placeholder="Filter"
				   type="text"
				   class="form-control form-filter-input input-sm"
				   data-ng-model="searchText" />
			<span class="fa fa-search form-control-feedback"></span>

			<div class="list-group list-group-resources">
				<a data-ng-click="showDetails()"
				   data-ng-class="{active: isActive(app.id)}"
				   data-ng-repeat="app in Apps.record | filter:searchText"
				   id="row_{{app.id}}"
				   class="list-group-item">

					<span class="resource-name">{{app.name}}</span>
					<span class="btn-group btn-group-xs btn-group-list pull-right">
						<button data-ng-disabled="app.launch_url == null || app.launch_url == ''"
								class="btn btn-default"
								title="Preview &ldquo;{{app.name}}&rdquo;"
								data-ng-click="showAppPreview(app.launch_url, app.api_name)"><i class="fa fa-eye"></i>
						</button>	
						<button data-ng-disabled="!app.storage_service_id"
								class="btn btn-default"
								title="Open in File Manager"
								data-ng-click="showFileManager()"><i class="fa fa-folder-open"></i></button>
						<button class="btn btn-default"
								title="Delete &ldquo;{{app.name}}&rdquo;"
								data-ng-click="delete()">
							<i class="fa fa-trash-o"></i></button>
					</span>
				</a>
			</div>
		</div>

		<div class="col-md-9 app-master">
			<div data-ng-include="'_appbar.html'"></div>

			<div id="file-manager" class="app-sub-view" style="display: none;">
				<iframe seamless="seamless"></iframe>
			</div>

			<div id="app-preview" class="app-sub-view" style="display: none;">
				<iframe seamless="seamless"></iframe>
			</div>

			<form id="step1" role="form" novalidate class="local">
				<div class="form-group form-group-sm">
					<label class="control-label"><i class="fa fa-key"></i>Application ID</label>
					<input class="form-control"
						   data-ng-maxlength="64"
						   data-ng-minlength="3"
						   data-ng-pattern="/^[a-zA-Z0-9_\-]*$/"
						   placeholder="Letters, numbers, dashes and underscores only"
						   data-ng-disabled="action == 'Update'"
						   type="text"
						   ng-model="app.api_name" />
					<span class="help-block">This value will become your API key (X-DreamFactory-Application-Name)</span>
				</div>

				<div class="form-group form-group-sm">
					<label class="control-label"><i class="fa fa-hdd-o"></i>Storage Location</label>
					<span class="help-block">Choose where you want your files for this app stored. The <strong>files</strong> service is our default storage service.</span>
					<div class="radio">
						<label>
							<input type="radio" data-ng-model="app.is_url_external" value="0" checked>
							Use our default file storage service or one of your own
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" data-ng-model="app.is_url_external" value="-1">
							On a native device or remote client/desktop
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" data-ng-model="app.is_url_external" value="1">
							Custom location (Specify URL to application)
						</label>

						<input
							data-ng-if="app.is_url_external==1"
							style="margin-top: 10px;"
							class="form-control"
							placeholder="http://www.myserver.com/"
							name="app_path"
							type="text"
							data-ng-model="app.url" />
					</div>
				</div>

				<div data-ng-if="app.is_url_external == 1" class="alert alert-success">
					<strong><i class="fa fa-cloud"></i>Application Location</strong>

					<p>Your application's URL will be: {{app.url}}</p>
				</div>

				<div class="form-group form-group-sm" data-ng-if="app.is_url_external == 0" id="remote_storage">
					<label class="control-label"><i class="fa fa-hdd-o"></i>Storage Service</label>
					<select class="form-control"
							data-ng-change="loadStorageContainers()"
							ng-model="app.storage_service_id">

						<option data-ng-selected="service.id == app.storage_service_id"
								value={{service.id}}
								ng-repeat="service in storageServices">{{service.api_name}}
						</option>
					</select>
				</div>

				<div class="form-group form-group-sm" data-ng-if="app.is_url_external != 0">
					<label class="control-label"><i class="fa fa-hdd-o"></i>Storage Container</label>
					<select class="form-control"
							id="storage_options"
							ng-model="app.storage_container"
							ng-options="option.name as option.name for option in storageOptions"> </select>
				</div>

				<div class="form-group form-group-sm" data-ng-hide="app.is_url_external != 0">
					<label class="control-label"><i class="fa fa-code"></i>Display Name</label>
					<input class="form-control" type="text" data-ng-model="app.name">
					<span class="help-block">The public, or pretty, name of your application. Used in LaunchPad</span>
				</div>

				<div class="form-group form-group-sm" data-ng-show="app.is_url_external == 0">
					<label class="control-label"><i class="fa fa-code"></i>Default Path</label>
					<input class="form-control"
						   placeholder="index.html"
						   name="app_path"
						   type="text"
						   ng-model="app.url">
					<span class="help-block">This is the default file to load when your app is loaded</span>

					<div class="alert alert-success">
						<strong><i class="fa fa-cloud"></i>Application Location</strong>

						<p>Your application's URL will be: {{currentServer}}/{{storageContainers[app.storage_service_id].name}}/{{app.storage_container}}/{{app.api_name}}</p>
					</div>
				</div>

				<div class="form-group form-group-sm" data-ng-hide="app.is_url_external != 0">
					<label class="control-label"><i class="fa fa-expand"></i>Full Screen Options</label>
					<div class="checkbox">
						<label class="control-label">
							<input type="checkbox" value="" class="form-control-static"
								   data-ng-checked="app.requires_fullscreen == 1"
								   data-ng-model="app.requires_fullscreen">
							Run full-screen, no toggle shown
						</label>
					</div>
				</div>

				<div class="form-group form-group-sm">
					<label class="control-label"><i class="fa fa-group"></i>Role Assignment</label>

					<span class="help-block">Each user who is assigned to one of the selected roles will have access to this app. Go to the Roles tab to create and manage roles.</span>

					<p data-ng-show="!Roles.record||!Roles.record.length" class="form-control-static">
						No Roles Available
					</p>

					<div class="checkbox" data-ng-repeat="role in Roles.record" id="row_{{role.id}}">
						<label>
							<input type="checkbox" data-ng-click="addRoleToApp($event.target.checked)"
								   data-ng-checked="isAppInRole()" />
							{{role.name}}
						</label>
					</div>
				</div>

				<div id="alert_container">
					<div data-ng-repeat="alert in alerts" class="alert">
						<button onclick="$('.alert').fadeOut();" type="button" class="close">&times;</button>
						<strong>{{alert.message}}</strong>
					</div>
				</div>

				<div data-ng-show="action=='Create'" id="create_button">
					<label>
						<input type="checkbox" data-ng-model="create_another" />
						Create Another
					</label>
					<a data-ng-click="create()" class="btn btn-primary">
						<i class="fa fa-arrow-circle-right"></i>Create Application
					</a>
				</div>
				<div id="update_button" data-ng-show="action=='Update'">
					<a data-ng-click="save()"
					   class="btn btn-primary">
						<li class="fa fa-save"></li>
						&nbsp;Update Application
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
<iframe style="display: none;" seamless="seamless" id="sdk-download"></iframe>
