<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="navbar navbar-default">
                <span style="display: inline" class="navbar-brand">Roles Management</span>

            </div>
        </div>
    </div>



    <div class="col-xs-12 col-sm-3 df-col-padding-override">
        <input placeholder="Filter by Name" type="text" class="form-control" data-ng-model="searchText"/><br/>

        <!-- this selected background color is inherited
             via df-list-group.  Bootswatch will not change this -->
        <ul class="list-group df-list-group">
            <li data-ng-click="showDetails()"
                class="list-group-item"
                data-ng-class="role.id === currentRoleId ? 'bg-primary' : '' "
                data-ng-repeat="role in Roles.record | filter:searchText" id="row_{{role.id}}">

                <div class="input-group">
                    <span style="position: relative; top: 6px">{{role.name}}</span>

                    <span class="input-group-btn">
                        <button class="btn btn-default" title="Delete this role" data-ng-click="delete()"><i class="icon-trash"></i>
                        </button>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="well well-sm">
            <div class="">
                <h4 style="display: inline-block; ">{{action}} Role</h4>
                <small>
                    <div class="btn-group pull-right" style="margin: 4px auto">
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="promptForNew()">Create New</button>
                        <button type="button" class="btn btn-default btn-sm save_button" data-ng-click="create()">Save</button>
                        <button type="button" class="btn btn-default btn-sm update_button" data-ng-click="save()">Update</button>
                    </div>
                </small>
            </div>
        </div>
    </div>

    <!-- This is a hacky way to keep this UI from bouncing on load.
    We need to preload data but I'm not doing that today. MNM -->

    <div data-ng-if="!rolesLoaded" class="col-sm-3">
        <div style="height: 300px; background: rgba(255, 0, 0, 0);"></div>
    </div>

    <div class="col-xs-12 col-sm-9">
        <form novalidate class="css-form" name="roleform">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#role-body">
                        <h4 class="panel-title">Role Info</h4>
                    </a>
                </div>
                <div id="role-body" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div>
                            <div class="detail-view"></div>
                                <div class="add_new">
                                    <div class="alert alert-info">
                                        <li class="icon-info-sign"></li>
                                        Roles provide a way to grant or deny API access to specific services or simply access to specific apps.
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" ng-model="role.name" type="text" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input class="form-control" ng-model="role.description" type="text"/>
                                    </div>

                                    <div class="form-group">

                                    <div class="section">
                                        <label>
                                            Active &nbsp;
                                            <input ng-checked="role.is_active" type="checkbox" ng-model="role.is_active"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#assign-users-body">
                        <h4 class="panel-title">Users</h4>
                    </a>
                </div>
                <div id="assign-users-body" class="panel-collapse collapse">
                    <div class="panel-body">
                        <label>Users Assigned to this Role.</label>

                    </div>
                    <div style="border-top: 1px solid #ddd" class="limit-list">
                        <table class="table table-hover table-striped table-bordered">

                            <tr ng-repeat="user in AllUsers.record" id="row_{{user.id}}">
                                <td><input ng-model="user.inRole"
                                           ng-change="updateUserToRole()"
                                           ng-checked="isUserInRole()" type="checkbox"/></td>
                                <td style="width:100%">{{user.display_name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#assign-apps-body">
                        <h4 class="panel-title">Apps</h4>
                    </a>
                </div>
                <div id="assign-apps-body" class="panel-collapse collapse">
                    <div class="panel-body">
                        <label>Apps Assigned to this Role.&nbsp;&nbsp;&nbsp;<a><i class="icon-star"></i></a> = Set this app to auto load
                            when users of this role log in.</label>

                        <div class="alert alert-info">
                            <li class="icon-info-sign"></li>
                            Each user who is assigned to this role will have access to the selected apps.
                        </div>
                    </div>

                    <div style="border-top: 1px solid #ddd;" class="limit-list">
                        <table class="table table-hover table-striped table-bordered">

                            <tr ng-repeat="app in Apps.record" id="row_{{app.id}}">
                                <td><a style="color:#b3b3b3" ng-click="makeDefault()" ng-show="app.id != role.default_app_id"><i
                                        class="icon-star"></i></a>
                                    <a ng-click="clearDefault()" ng-show="app.id == role.default_app_id"><i class="icon-star"></i></a>
                                </td>
                                <td><input ng-model="app.inRole"
                                           ng-change="addAppToRole()"
                                           ng-checked="isAppInRole()" type="checkbox"/></td>
                                <td style="width:100%">{{app.name}}</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#assign-service-access-body">
                        <h4 class="panel-title">Service Access</h4>
                    </a>
                </div>
                <div id="assign-service-access-body" class="panel-collapse collapse">
                    <div class="panel-body">

                        <label>Assign Service Access to this Role</label>

                        <hr />

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <label>Service</label>
                                </div>
                                <div class="col-xs-3">
                                    <label>Component</label>
                                </div>
                                <div class="col-xs-3">
                                    <label>Access</label>
                                </div>
                                <div class="col-xs-2">
                                    <label>Advanced Filters</label>
                                </div>
                                <div class="col-xs-1" >
                                    <label>
                                        <button class="btn btn-default btn-sm" data-ng-click="newServiceAccess()">
                                            <i class="fa fa-plus fa-fw"></i>
                                        </button>
                                    </label>

                                </div>
                            </div>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item" data-ng-repeat="service_access in role.role_service_accesses">
                                <div class="row">
                                    <div class="col-xs-3 form-group">
                                        <select class="form-control"
                                                data-ng-change="selectService()"
                                                data-ng-model="service_access.service_id"
                                                data-ng-options="service.id as service.name for service in Services.record">
                                        </select>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <select class="form-control"
                                                data-ng-model="service_access.component"
                                                data-ng-options="component.name as component.name for component in ServiceComponents[serviceId2Index(service_access.service_id)]">
                                        </select>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <df-verb-picker allowedVerbs="service_access.access"></df-verb-picker>
                                    </div>
                                    <div class="col-xs-2 form-group">
                                        <div class="filter-control">
                                        <span data-ng-show="allowFilters(service_access.service_id)">{{service_access.filters.length}}
                                            <a href="" data-ng-click="toggleServiceAccessFilter()">Show/Hide</a>
                                        </span>
                                            <span data-ng-show="!allowFilters(service_access.service_id)">N/A</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-1 form-group">
                                        <button type="button" class="btn btn-default btn-sm" data-ng-click="removeServiceAccess()">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" data-ng-show="allowFilters(service_access.service_id) && service_access.show_filters">
                                    <div class="col-xs-12">
                                        <hr />
                                        <div class="alert alert-info"
                                             ng-show="allowFilters(service_access.service_id) && service_access.show_filters && service_access.filters.length>0">
                                            <i class="fa fa-info-circle"></i>
                                            String values should be single or double quoted.
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label>Field</label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>Operator</label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>Value</label>
                                            </div>
                                            <div class="col-xs-2">

                                            </div>
                                            <div class="col-xs-1">
                                                <button type="button" class="btn btn-default btn-sm" data-ng-click="newServiceAccessFilter()">
                                                    <i class="fa fa-plus fa-fw"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div data-ng-repeat="service_access_filter in service_access.filters" class="row" style="margin-top: 15px;">
                                            <div class="col-xs-3 form-group">
                                                <input class="form-control" data-ng-model="service_access_filter.name" type="text" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <select class="form-control"
                                                        data-ng-change="updateServiceAccessFilter()"
                                                        data-ng-model="service_access_filter.operator"
                                                        data-ng-options="op as op for op in FilterOps">
                                                </select>
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <input class="form-control" data-ng-model="service_access_filter.value"
                                                       data-ng-disabled="service_access_filter.operator==='is null' || service_access_filter.operator==='is not null'"
                                                       type="text"/>
                                            </div>

                                            <div class="col-xs-2 form-group">
                                                <a href="" style="font-weight:bold;"
                                                   data-ng-click="toggleServiceAccessOp()"
                                                   data-ng-show="!$last">
                                                    {{service_access.filter_op}}
                                                </a>
                                            </div>

                                            <div class="col-xs-1 form-group">
                                                <button type="button" class="btn btn-default btn-sm" data-ng-click="removeServiceAccessFilter()">
                                                    <i class="fa fa-trash-o fa-fw"></i>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p ng-show="role.role_service_accesses.length==0">
                            No service access for this role. Click the add button to grant/deny access.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#assign-system-access-body">
                        <h4 class="panel-title">System Access</h4>
                    </a>
                </div>
                <div id="assign-system-access-body" class="panel-collapse collapse">
                    <div class="panel-body">

                        <label>Assign System Access to this Role</label>

                        <hr />

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <label>Component</label>
                                </div>
                                <div class="col-xs-3">
                                    <label>Access</label>
                                </div>
                                <div class="col-xs-3">
                                    <label>Advanced Filters</label>
                                </div>

                                <div class="col-xs-1 col-xs-offset-2" >
                                    <label>
                                        <button class="btn btn-default btn-sm" data-ng-click="newSystemAccess()">
                                            <i class="fa fa-plus fa-fw"></i>
                                        </button>
                                    </label>

                                </div>
                            </div>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item" data-ng-repeat="system_access in role.role_system_accesses">
                                <div class="row">
                                    <div class="col-xs-3 form-group">
                                        <select class="form-control"
                                                data-ng-model="system_access.component"
                                                data-ng-options="component.name as component.label for component in SystemComponents">
                                        </select>

                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <df-verb-picker allowedVerbs="system_access.access"></df-verb-picker>
                                    </div>

                                    <div class="col-xs-3 form-group">
                                        <div class="filter-control" >
                                            <span>{{system_access.filters.length}}
                                                <a href="" data-ng-click="toggleSystemAccessFilter()">Show/Hide</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-1 col-xs-offset-2 form-group">
                                        <button type="button" class="btn btn-default btn-sm" data-ng-click="removeSystemAccess()">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                    </div>
                                </div>


                                <div class="row" data-ng-show="system_access.show_filters">
                                    <div class="col-xs-12">

                                        <hr />

                                        <div class="alert alert-info" data-ng-show="system_access.show_filters && system_access.filters.length>0">
                                            <i class="fa fa-info-circle"></i>
                                            String values should be single or double quoted.
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label>Field</label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>Operator</label>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>Value</label>
                                            </div>
                                            <div class="col-xs-2">

                                            </div>
                                            <div class="col-xs-1">
                                                <button type="button" class="btn btn-default btn-sm" data-ng-click="newSystemAccessFilter()">
                                                    <i class="fa fa-plus fa-fw"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div data-ng-repeat="system_access_filter in system_access.filters" class="row" style="margin-top: 15px;">
                                            <div class="col-xs-3 form-group">
                                                <input class="form-control" data-ng-model="system_access_filter.name" type="text" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <select class="form-control"
                                                        data-ng-change="updateSystemAccessFilter()"
                                                        data-ng-model="system_access_filter.operator"
                                                        data-ng-options="op as op for op in FilterOps">
                                                </select>
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <input class="form-control" data-ng-model="system_access_filter.value"
                                                       data-ng-disabled="system_access_filter.operator==='is null' || system_access_filter.operator==='is not null'"
                                                       type="text"/>
                                            </div>

                                            <div class="col-xs-2 form-group">
                                                <a href="" style="font-weight:bold;"
                                                   data-ng-click="toggleSystemAccessOp()"
                                                   data-ng-show="!$last">
                                                    {{system_access.filter_op}}
                                                </a>
                                            </div>

                                            <div class="col-xs-1 form-group">
                                                <button type="button" class="btn btn-default btn-sm" data-ng-click="removeSystemAccessFilter()">
                                                    <i class="fa fa-trash-o fa-fw"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p data-ng-show="role.role_system_accesses.length==0">
                            No system access for this role. Click the add button to grant/deny access.
                        </p>
                    </div>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#assign-lookup-keys-body">
                        <h4 class="panel-title">Role Lookup Keys</h4>
                    </a>
                </div>
                <div id="assign-lookup-keys-body" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="alert alert-info">
                            <li class="icon-info-sign"></li>
                            Lookup keys for services and credentials must be made private.
                        </div>
                        <table class="table table-hover table-striped field-list">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Private</th>

                                <th class="no-border">
                                    <div class="btn-group pull-left">
                                        <button class="btn btn-default btn-sm" data-ng-click="newKey()">
                                            <i class="fa fa-plus fa-fw"></i>
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr data-ng-repeat="key in role.lookup_keys">
                                <td>
                                    <input class="form-control" data-ng-model="key.name" type="text" />
                                </td>
                                <td>
                                    <input class="form-control" data-ng-model="key.value" type="text" />
                                </td>
                                <td style="padding-left: 25px; padding-top: 13px;">
                                    <input  data-ng-model="key.private" type="checkbox" />
                                </td>
                                <td class="no-border">
                                    <div class="btn-group pull-left">
                                        <button type="button" class="btn btn-sm btn-default" data-ng-click="removeKey()">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="well well-sm">
                <div class="btn-toolbar">
                    <div class="btn-group pull-right">

                        <button type="button" class="btn btn-default btn-sm" data-ng-click="promptForNew()">Create New</button>
                        <button type="button" class="btn btn-default btn-sm save_button" data-ng-click="create()">Save</button>
                        <button type="button" class="btn btn-default btn-sm update_button" data-ng-click="save()">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!--
<div class="panel panel-default">
<div class="panel-heading resource-header"><strong>Roles</strong>

    <div id="app-buttons" class="btn-group btn-group-sm pull-right">
        <button ng-click="promptForNew()" class="btn btn-default">
            <li class="icon-plus-sign-alt"></li>
            Create New Role
        </button>

    </div>
</div>
<table id="resource-container">
<tr>
<td>
    <input placeholder="Filter by Name" type="text" class="form-control" data-ng-model="searchText"/><br/>
    <ul id="resource-list" class="list-group">
        <li ng-click="showDetails()" data-ng-class="role.id === currentRoleId ? 'active' : ''" class="list-group-item"
            ng-repeat="role in Roles.record | filter:searchText" id="row_{{role.id}}">
            <span class="user-name">{{role.name}}</span>
            <span class="btn-group btn-group-sm pull-right">

                                      <button class="btn btn-default" title="Delete this role"
                                              ng-click="delete()"><i
                                              class="icon-trash"></i>
                                      </button>
            </span>


        </li>
    </ul>
</td>

<td>&nbsp;</td>
<td id="app-details">


<form novalidate class="css-form" name="roleform">
<div>
<div class="detail-view"></div>

<div class="add_new">
<h3>{{action}} role</h3>

<div class="alert alert-info">
    <li class="icon-info-sign"></li>
    Roles provide a way to grant or deny API access to specific services or simply access to specific apps.
</div>
<div class="form-group">
    <label>Name</label>
    <input class="form-control" ng-model="role.name" type="text" required/>
    <br/>
    <label>Description</label>
    <input class="form-control" ng-model="role.description" type="text" style="width:80%;"/>
    <br/>
    <label>Users Assigned to this Role.</label>

    <div class="limit-list">
        <table class="table table-hover table-striped table-bordered">

            <tr ng-repeat="user in AllUsers.record" id="row_{{user.id}}">
                <td><input ng-model="user.inRole"
                           ng-change="updateUserToRole()"
                           ng-checked="isUserInRole()" type="checkbox"/></td>
                <td style="width:100%">{{user.display_name}}</td>

            </tr>


        </table>

    </div>
    <br/>
    <label>Apps Assigned to this Role.&nbsp;&nbsp;&nbsp;<a><i class="icon-star"></i></a> = Set this app to auto load
        when users of this role log in.</label>

    <div class="alert alert-info">
        <li class="icon-info-sign"></li>
        Each user who is assigned to this role will have access to the selected apps.
    </div>
    <div class="limit-list">
        <table class="table table-hover table-striped table-bordered">

            <tr ng-repeat="app in Apps.record" id="row_{{app.id}}">
                <td><a style="color:#b3b3b3" ng-click="makeDefault()" ng-show="app.id != role.default_app_id"><i
                        class="icon-star"></i></a>
                    <a ng-click="clearDefault()" ng-show="app.id == role.default_app_id"><i class="icon-star"></i></a>
                </td>
                <td><input ng-model="app.inRole"
                           ng-change="addAppToRole()"
                           ng-checked="isAppInRole()" type="checkbox"/></td>
                <td style="width:100%">{{app.name}}</td>

            </tr>


        </table>
    </div>

</div>
<div style="display:none;padding-left:10px;" id="alert-container"
     class="alert alert-error"></div>
<div class="section limit-big-list">
    <label>Assign Service Access to this Role</label>
    <table class="table table-hover table-striped field-list">
        <thead>
        <tr>
            <th>
                <span style="width:140px;">Service</span>
                <span style="width:140px;">Component</span>
                <span style="width:140px;">Access</span>
                <span style="width:140px;">Advanced Filters</span>
            </th>
            <th class="no-border">
                <div class="btn-group pull-left">
                    <button class="btn btn-success" ng-click="newServiceAccess()">
                        Add
                    </button>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="service_access in role.role_service_accesses">
            <td>
                <div class="form-inline">
                <select class="form-control" style="width:140px;"
                        ng-change="selectService()"
                        ng-model="service_access.service_id"
                        ng-options="service.id as service.name for service in Services.record">
                </select>
                <select class="form-control" style="width:140px;"
                        ng-model="service_access.component"
                        ng-options="component.name as component.name for component in ServiceComponents[serviceId2Index(service_access.service_id)]">
                </select>

                <df-verb-picker allowedVerbs="service_access.access"></df-verb-picker>
               &lt;!&ndash; <select class="form-control" ng-model="service_access.access" style="width:140px;">
                    <option value='Full Access' selected>Full Access</option>
                    <option value='Read and Write' selected>Read and Write</option>
                    <option value='Read Only' selected>Read Only</option>
                    <option value='Write Only' selected>Write Only</option>
                    <option value='No Access' selected>No Access</option>
                </select>&ndash;&gt;

                <div class="filter-control" style="width:140px;">
                                                <span ng-show="allowFilters(service_access.service_id)">{{service_access.filters.length}}
                                                    <a href="" style="color:#AAA;padding-left:5px;"
                                                       ng-click="toggleServiceAccessFilter()">Show/Hide</a>
                                                </span>
                    <span ng-show="!allowFilters(service_access.service_id)">N/A</span>
                </div>
                <div class="alert alert-info"
                     ng-show="allowFilters(service_access.service_id) && service_access.show_filters && service_access.filters.length>0">
                    <li class="icon-info-sign"></li>
                    String values should be single or double quoted.
                </div>
                <table ng-show="allowFilters(service_access.service_id) && service_access.show_filters"
                       class="table field-list">
                    <thead>
                    <tr>
                        <th style="width:160px;">Field</th>
                        <th style="width:130px;">Operator</th>
                        <th style="width:160px;">Value</th>
                        <th style="width:50px;"></th>
                        <th class="no-border">
                            <div class="btn-group pull-left">
                                <button class="btn btn-default" ng-click="newServiceAccessFilter()">
                                     Add
                                </button>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="service_access_filter in service_access.filters">
                        <td style="width:160px;">
                            <input class="form-control" ng-model="service_access_filter.name" type="text"
                                   style="display:inline-block;width:140px;"/>
                        </td>
                        <td style="width:130px;">
                            <select class="form-control" style="display:inline-block;width:110px;"
                                    ng-change="updateServiceAccessFilter()"
                                    ng-model="service_access_filter.operator"
                                    ng-options="op as op for op in FilterOps">
                            </select>
                        </td>
                        <td style="width:160px;">
                            <input class="form-control" ng-model="service_access_filter.value"
                                   ng-disabled="service_access_filter.operator==='is null' || service_access_filter.operator==='is not null'"
                                   type="text"
                                   style="display:inline-block; width:140px;"/>
                        </td>
                        <td>
                            <a href="" style="font-weight:bold;"
                               ng-click="toggleServiceAccessOp()"
                               ng-show="!$last">
                                {{service_access.filter_op}}
                            </a>
                        </td>
                        <td class="no-border">
                            <div class="btn-group pull-left">
                                <a class="btn btn-mini btn-inverse" ng-click="removeServiceAccessFilter()">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p ng-show="allowFilters(service_access.service_id) && service_access.show_filters && service_access.filters.length==0">
                    No filters for this service access. Click the add button to create one.<br/>
                </p>
                 </div>
            </td>
            <td class="no-border">
                <div class="btn-group pull-left">
                    <a class="btn btn-small btn-inverse" ng-click="removeServiceAccess()">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    <p ng-show="role.role_service_accesses.length==0">
        No service access for this role. Click the add button to grant/deny access.
    </p>
</div>










<div class="section limit-big-list">
    <label>Assign System Access to this Role</label>

    <div ng-show="role.role_system_accesses.length > 0" class="alert alert-danger">
        You are allowing system access via the API, use caution.
    </div>
    <table class="table table-hover table-striped field-list">
        <thead>
        <tr>
            <th>
                <span style="width:140px;">Component</span>
                <span style="width:140px;">Access</span>
                <span style="width:140px;">Advanced Filters</span>
            </th>
            <th class="no-border">
                <div class="btn-group pull-left">
                    <button class="btn btn-success" ng-click="newSystemAccess()">
                        Add
                    </button>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="system_access in role.role_system_accesses">
            <td>
                <div class="form-inline">
                <select class="form-control" style="width:140px;"
                        ng-model="system_access.component"
                        ng-options="component.name as component.label for component in SystemComponents">
                </select>

                <df-verb-picker allowedVerbs="system_access.access"></df-verb-picker>


                &lt;!&ndash;<select class="form-control" ng-model="system_access.access" style="width:140px;">
                    <option value='Full Access' selected>Full Access</option>
                    <option value='Read and Write' selected>Read and Write</option>
                    <option value='Read Only' selected>Read Only</option>
                    <option value='Write Only' selected>Write Only</option>
                    <option value='No Access' selected>No Access</option>
                </select>&ndash;&gt;

                <div class="filter-control" style="width:140px;">
                                                <span>{{system_access.filters.length}}
                                                    <a href="" style="color:#AAA;padding-left:5px;"
                                                       ng-click="toggleSystemAccessFilter()">Show/Hide</a>
                                                </span>
                </div>
                <div class="alert alert-info"
                     ng-show="system_access.show_filters && system_access.filters.length>0">
                    <li class="icon-info-sign"></li>
                    String values should be single or double quoted.
                </div>




                <table ng-show="system_access.show_filters" class="table field-list">
                    <thead>
                    <tr>
                        <th style="width:160px;">Field</th>
                        <th style="width:130px;">Operator</th>
                        <th style="width:160px;">Value</th>
                        <th style="width:50px;"></th>
                        <th class="no-border">
                            <div class="btn-group pull-left">
                                <a class="btn btn-mini btn-inverse" ng-click="newSystemAccessFilter()">
                                    <i class="icon-plus"/>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>











                    here
                    <tr ng-repeat="system_access_filter in system_access.filters">
                        <td style="width:160px;">
                            <input class="form-control" ng-model="system_access_filter.name" type="text"
                                   style="display:inline-block;width:140px;"/>
                        </td>
                        <td style="width:130px;">
                            <select class="form-control" style="display:inline-block;width:110px;"
                                    ng-change="updateSystemAccessFilter()"
                                    ng-model="system_access_filter.operator"
                                    ng-options="op as op for op in FilterOps">
                            </select>
                        </td>
                        <td style="width:160px;">
                            <input class="form-control" ng-model="system_access_filter.value"
                                   ng-disabled="system_access_filter.operator==='is null' || system_access_filter.operator==='is not null'"
                                   type="text"
                                   style="display:inline-block; width:140px;"/>
                        </td>
                        <td>
                            <a href="" style="font-weight:bold;"
                               ng-click="toggleSystemAccessOp()"
                               ng-show="!$last">
                                {{system_access.filter_op}}
                            </a>
                        </td>
                        <td class="no-border">
                            <div class="btn-group pull-left">
                                <a class="btn btn-mini btn-inverse" ng-click="removeSystemAccessFilter()">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p ng-show="system_access.show_filters && system_access.filters.length==0">
                    No filters for this system access. Click the add button to create one.<br/>
                </p>
                    </div>
            </td>
            <td class="no-border">
                <div class="btn-group pull-left">
                    <button class="btn btn-success" ng-click="removeSystemAccess()">
                        Add
                    </button>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    <p ng-show="role.role_system_accesses.length==0">
        No system access for this role. Click the add button to grant/deny access.
    </p>
</div>










<div class="section limit-big-list">
    <p>Role Lookup Keys</p>
    <div class="alert alert-info">
        <li class="icon-info-sign"></li>
        Lookup keys for services and credentials must be made private.
    </div>
    <table class="table table-hover table-striped field-list">
        <thead>
        <tr>
            <th style="width:220px;">Name</th>
            <th style="width:220px;">Value</th>
            <th style="width:35px;">Private</th>
            <th class="no-border">
                <div class="btn-group pull-left">
                    <button class="btn btn-success" ng-click="newKey()">
                        Add
                    </button>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="key in role.lookup_keys">
            <td style="width: 220px;">
                <input class="form-control" ng-model="key.name" type="text" style="width:200px;"/>
            </td>
            <td style="width:220px;">
                <input class="form-control" ng-model="key.value" type="text" style="width:200px;"/>
            </td>
            <td style="width:35px;text-align:center;">
                <input class="form-control" ng-model="key.private" type="checkbox"
                       style="width:25px;vertical-align:middle;"/>
            </td>
            <td class="no-border">
                <div class="btn-group pull-left">
                    <a class="btn btn-small btn-inverse" ng-click="removeKey()">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    <p ng-show="role.lookup_keys.length==0">
        No lookup keys for this role. Click the add button to create one.
    </p>
</div>










<div class="section">
    <input ng-checked="role.is_active" type="checkbox" ng-model="role.is_active"/>&nbsp;Active
</div>
<br/>
<div style="display:none;padding-left:10px;" id="success-container"
     class="alert alert-success"></div>
<div id="button_holder">
    <a id="save_button" ng-click="create()" class="btn btn-primary">
        <li class="icon-save"></li>
        &nbsp;Save</a>
    <a id="update_button" ng-click="save()" class="btn btn-primary">
        <li class="icon-save"></li>
        &nbsp;Update</a>
</div>


</div>
</div>
</form>

</td>
</tr>
</table>

</div>

-->
