<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading resource-header"><strong>Services</strong>

    <div id="app-buttons" class="btn-group btn-group-sm pull-right">


        <button ng-click="promptForNew()" class="btn btn-default">
            <span class="icon-plus-sign-alt"></span>
            Create New Service
        </button>
    </div>
</div>
<table id="resource-container">
<tr>
<td>
    <input placeholder="Filter by Name" type="text" class="form-control" data-ng-model="searchText"/><br/>
    <ul id="resource-list" class="list-group">
        <li ng-click="showDetails()" class="list-group-item"
            ng-repeat="service in Services.record | filter:searchText" id="row_{{service.id}}">
            <span class="user-name">{{service.name}}</span>

            <div class="btn-group btn-group-sm pull-right">
                <a ng-show="service.type === 'Remote File Storage' || service.type === 'Local File Storage'"
                   class="btn btn-default"
                   title="Manage service files" ng-click="showFileManager()"><i
                        class="icon-folder-open"></i></a> <a ng-click="showSwagger()"
                                                             class="btn btn-default btn-inverse"
                                                             title="Explore this service"><i
                    class="icon-book"></i></a> <a ng-hide="service.is_system" class="btn btn-default"
                                                  title="Delete this service"
                                                  ng-click="delete()"><i class="icon-trash"></i></a>
            </div>

        </li>
    </ul>
</td>
<td style="width:100%">
<div>

<div class="add_new">

<h3>{{action}} service</h3>

<div id="file-manager">
    <iframe style="display:none" frameBorder=0 ng-src="" seamless="seamless"></iframe>
</div>
<!--
<div ng-include src="'swagger.html'">
</div>
-->
<swagger stand-alone="true"></swagger>

<div id="step1">
<div class="form-group" ng-show="action=='Update'">
    <label>Type</label> <select class="form-control" ng-disabled="service.is_system || action == 'Update'"
                                ng-init="showFields()"
                                ng-change="showFields()" ng-model="service.type"
                                ng-options="option.name as option.name for option in serviceOptions"></select>
</div>
<div class="form-group" ng-show="action!='Update'">
    <label>Type</label>
    <select class="form-control" ng-change="showFields()" ng-model="service.type"
            ng-options="option.name as option.name for option in serviceCreateOptions"></select>
</div>
<div class="form-group" ng-show="service.type == 'Email Service'">
    <label>Provider</label> <select class="form-control" ng-change="showEmailFields()"
                                    ng-model="email_type"
                                    ng-options="option.name as option.name for option in emailOptions"></select>
</div>
<div class="form-group">
    <label>API Name</label>

    <input class="form-control" ng-disabled="service.is_system" ng-model="service.api_name" type="text"/>
</div>
<div class="form-group">
    <label>Name</label>

    <input class="form-control" ng-model="service.name" type="text"/>
</div>
<div class="form-group">
    <label>Description</label>

    <input class="form-control" ng-model="service.description" type="text"/>
</div>
<div class="form-group base_url">
    <label>Base URL</label>

    <input class="form-control" ng-model="service.base_url" type="text"/>
</div>
<div class="form-group host">
    <label>Host</label>

    <input class="form-control" ng-model="service.host" type="text" placeholder="e.g. SMTP.gmail.com"/>
</div>
<div class="form-group port">
    <label>Port</label>

    <input class="form-control" ng-model="service.port" type="text" placeholder="e.g. 465"/>
</div>
<div class="form-group security">
    <label>Security</label>
    <select class="form-control"
            ng-options="option.value as option.name for option in securityOptions"
            ng-model="service.security">
        <option style="display:none" value="">None</option>
    </select>
</div>
<div class="form-group command">

    <div class="alert alert-info">
        <li class="icon-info-sign"></li>
        OPTIONAL : Defaults to use the local mail service.
    </div>
    <label>Command</label>

    <input class="form-control" ng-value="" type="text" ng-model="service.storage_type"
           placeholder="e.g. /usr/sbin/sendmail -bs"/>
</div>
<div class="form-group user">
    <label>Username</label>

    <input class="form-control" ng-model="service.user" type="text"/>
</div>
<div class="form-group pwd">
    <label>Password</label>

    <input class="form-control" ng-model="service.pwd" type="password"/>
</div>
<div class="form-group parameters">
    <label>Parameters</label>

    <div id="grid-container">
        <div id="parameter-grid" ng-grid="browseOptions"></div>
    </div>
    <br/>

    <div style="display:none" id="error-container" class="alert alert-danger">Param already exists</div>
    <div class="form-inline" ng-show="service.type == 'Remote Web Service'">
        <input id="param-name" placeholder="Param Name" class="form-control" type="text"
               ng-model="param.name"/>
        <input class="form-control" id="param-value" placeholder="Param Value" type="text"
               ng-model="param.value"/>
        <br/>
        <br/>
        <button id="param-update" class="btn btn-default" ng-click="updateParams()"><i
                class="icon-plus-sign"></i> Add Parameter
        </button>
    </div>
</div>
<div class="form-group dsn">

    <div ng-show="action === 'Create'">
        <div class="form-group"><label>SQL Vendor :</label>&nbsp;
            <select class="form-control" data-ng-model="sqlServerPrefix"
                    data-ng-options="server.prefix as server.name for server in sqlVendors"></select>
        </div>
        <div class="form-group"><label>Host :</label>&nbsp;<input data-ng-disabled="!sqlServerPrefix"
                                                                  class="form-control" data-ng-model="sqlServerHost"/>
        </div>
        <div class="form-group"><label>Database Name :</label>&nbsp;<input data-ng-disabled="!sqlServerHost"
                                                                           class="form-control"
                                                                           data-ng-model="sqlServerDb"/></div>
    </div>
    <div class="form-group">
        <label>Connection String</label>
        <input class="form-control" data-ng-model="service.dsn" type="text"
               placeholder="{{sql_placeholder}}"/>
        <br/>

        <div class="alert alert-info">
            <li class="icon-info-sign"></li>
            &nbsp;&nbsp;The connection string consist of the driver type, the server and any non-default port number and
            the
            database name.
        </div>
    </div>

</div>

<div class="form-group headers">
    <label>Headers</label>

    <div>
        <div id="header-grid" ng-grid="headerOptions"></div>
    </div>
    <div style="display:none" id="header-error-container" class="alert alert-danger">Param already exists
    </div>
    <div class="form-inline">
        <input class="form-control" id="header-name" placeholder="Header Name" class="input-small" type="text"
               ng-model="header.name"/>
        <input class="form-control" id="header-value" placeholder="Header Value" type="text"
               ng-model="header.value"/>
    </div>
    <br/>

    <a id="header-update" class="btn btn-default" ng-click="updateHeaders()"><i class="icon-plus-sign"></i> Add Header
    </a>
</div>
<!--<div class="section storage_name">--><!--<p>Storage Name</p>-->
<!--<input ng-model="service.storage_name" type="text"/>--><!--</div>-->
<div class="section salesforce" ng-show="service.type=='Salesforce'">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" data-ng-model="salesforce.username" type="text"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" ng-model="salesforce.password" type="password"/>
    </div>
    <div class="form-group">
        <label>Security Token</label>
        <input class="form-control" ng-model="salesforce.security_token" type="text"/>
    </div>
    <div class="form-group">
        <label>API Version</label>
        <input ng-model="salesforce.version" placeholder="v28.0" type="text"/>
    </div>
</div>
<div class="section nosql_type">
    <div class="form-group">
        <label>NoSQL Type</label>
        <select class="form-control" ng-options="option.value as option.name for option in NoSQLOptions"
                ng-model="service.storage_type"></select>
    </div>
    <div class="sub-section aws_info" ng-show="service.storage_type=='aws dynamodb'">
        <div class="form-group">
            <label>Access Key</label>
            <input class="form-control" type="text" ng-model="aws.access_key"/>
        </div>

        <div class="form-group">
            <label>Secret Key</label>
            <input class="form-control" type="text" ng-model="aws.secret_key"/>
        </div>
        <div class="form-group">
            <label>Region</label>
            <select class="form-control" ng-options="region.value as region.name for region in awsRegions"
                    ng-model="aws.region"></select>
        </div>

    </div>
    <div class="sub-section aws_info" ng-show="service.storage_type=='aws simpledb'">
        <div class="form-group">
            <label>Access Key</label>
            <input class="form-control" type="text" ng-model="aws.access_key"/>
        </div>
        <div class="form-group">
            <label>Secret Key</label>
            <input class="form-control" type="text" ng-model="aws.secret_key"/>
        </div>
        <div class="form-group">
            <label>Region</label>
            <select class="form-control" ng-options="region.value as region.name for region in awsRegions"
                    ng-model="aws.region"></select>
        </div>
    </div>
    <div class="sub-section azure_info" ng-show="service.storage_type =='azure tables'">
        <div class="form-group">
            <label>Account Name</label>
            <input class="form-control" type="text" ng-model="azure.account_name"/>
        </div>
        <div class="form-group">
            <label>Account Key</label>
            <input class="form-control" type="text" ng-model="azure.account_key"/>
        </div>
        <div class="form-group">
            <label>Default Partition Key</label>
            <input class="form-control" type="text" ng-model="azure.PartitionKey"/>
        </div>
    </div>
    <div class="sub-section azure_info" ng-show="service.storage_type =='couchdb'">
        <div class="form-group">
        <label>Connection String</label>

        <input ng-model="couchdb.service.dsn" type="text" class="form-control"/>
        </div>
        <div class="form-group">
        <label>Username</label>

        <input class="form-control" ng-model="couchdb.service.user" type="text"/>
        </div>
        <div class="form-group">
        <label>Password</label>

        <input class="form-control" ng-model="couchdb.service.pwd" type="password"/>
        </div>
    </div>
    <div class="sub-section" ng-show="service.storage_type =='mongodb'">
        <div class="form-group">
        <label>Connection String</label>

        <input class="form-control" ng-model="mongodb.service.dsn" type="text"/>
    </div>
        <div class="alert alert-info">
            <li class="icon-info-sign"></li>
            &nbsp;&nbsp;The connection string can include authentication credentials as well as database name. If they
            contain special characters, please enter them below.
        </div>
        <div class="form-group">
        <label>Database</label>

        <input class="form-control" ng-model="mongodb.service.db" type="text"/>
        </div>
        <div class="form-group">
        <label>Username</label>

        <input class="form-control" ng-model="mongodb.service.user" type="text"/>
        </div>
        <div class="form-group">
        <label>Password</label>
        <input class="form-control" ng-model="mongodb.service.pwd" type="password"/>
        </div>
    </div>
    <div class="sub-section" ng-show="service.storage_type =='mongohq'">
        <div class="form-group">
        <label>Connection String</label>
        <input class="form-control" ng-model="mongohq.service.dsn" type="text"/>
        </div>
        <div class="alert alert-info">
            <li class="icon-info-sign"></li>
            &nbsp;&nbsp;The connection string can include authentication credentials as well as database name. If they
            contain special characters, please enter them below.
        </div>
        <div class="form-group">
        <label>Database</label>
        <input class="form-control" ng-model="mongohq.service.db" type="text"/>
        </div>
        <div class="form-group">
        <label>Username</label>
        <input class="form-control" ng-model="mongohq.service.user" type="text"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" ng-model="mongohq.service.pwd" type="password"/>
        </div>
    </div>
</div>
<div class="section storage_type">
    <div class="form-group">
        <label>Storage Type</label>
        <select class="form-control" ng-options="option.value as option.name for option in remoteOptions"
                ng-model="service.storage_type" type="text"></select>
    </div>


    <div class="sub-section " ng-show="service.storage_type=='aws s3'">
        <div class="form-group">
        <label>Access Key</label>
        <input class="form-control" type="text" ng-model="aws.access_key"/>
        <label>Secret Key</label>
        <input class="form-control" type="text" ng-model="aws.secret_key"/>
        </div>
    </div>
    <div class="sub-section azure_info" ng-show="service.storage_type =='azure blob'">
        <div class="form-group">
        <label>Account Name</label>
        <input class="form-control" type="text" ng-model="azure.account_name"/>
        <label>Account Key</label>
        <input class="form-control" type="text" ng-model="azure.account_key"/>
        </div>
    </div>
    <div class="sub-section " ng-show="service.storage_type =='rackspace cloudfiles'">
        <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" ng-model="rackspace.username"/>
        <label>API Key</label>
        <input class="form-control" type="text" ng-model="rackspace.api_key"/>
        <label>Tenant Name</label>
        <input class="form-control" type="text" ng-model="rackspace.tenant_name"/>
        <label>Region</label>
        <select class="form-control" ng-change="changeUrl()"
                ng-options="option.value as option.name for option in rackspaceRegions"
                ng-model="rackspace.region"></select>

        <label>URL/Endpoint</label>
        <input class="form-control" ng-disabled="!rackspace.region" type="text"
               ng-model="rackspace.url"/>
            </div>
    </div>
    <div class="sub-section" ng-show="service.storage_type =='openstack object storage'">
        <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" ng-model="openstack.username"/>
        <label>API Key</label>
        <input class="form-control" type="text" ng-model="openstack.api_key"/>
        <label>Tenant Name</label>
        <input class="form-control" type="text" ng-model="openstack.tenant_name"/>
        <label>Region</label>
        <input class="form-control" type="text" ng-model="openstack.region"/>
        <label>URL/Endpoint</label>
        <input class="form-control" type="text" ng-model="openstack.url"/>
        </div>
    </div>
</div>
<div class="section credentials">
    <div class="form-group">
    <label>Credentials</label>

    <input class="form-control" ng-model="service.credentials" type="text"/>
        </div>
</div>
<div class="section native_format">
    <div class="form-group">
    <label>Native Format</label>

    <input class="form-control" ng-model="service.native_format" type="text"/>
        </div>
</div>
<div ng-class="{'alert alert-success': service.is_active}" class="section">
    <input ng-checked="service.is_active" type="checkbox" ng-model="service.is_active"/>
    &nbsp;Active
</div>

</div>
<div id="button_holder">
    <a id="save_button" ng-click="create()" class="btn btn-primary">
        <li class="icon-save"></li>
        &nbsp;Save </a> <a id="update_button" ng-click="save()" class="btn btn-primary">
    <li class="icon-save"></li>
    &nbsp;Update </a>
</div>

</div>
</div>

</td>
</tr>
</table>
</div>





