<!DOCTYPE html>
<html ng-app="TodoApp">
<head>
	<link href="style.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body ng-controller="TodoCtrl">
<div>
	<h4>My Todo List</h4>

	<div id="list-container">
		<table class="table table-hover table-striped table-bordered todolist">
			<tr ng-repeat="todo in Todos.record" id="row_{{todo.id}}">
				<td><a ng-click="deleteItem()"><i class="icon icon-minus-sign"></i></a></td>
				<td ng-class="{strike:todo.complete}" id="item_{{todo.id}}" style="width:100%" ng-click="updateItem()"><b>{{todo.name}}</b></td>
			</tr>
		</table>
	</div>
	<input type="text" placeholder="Add Item" ng-model="todo.name" />
	<br />
	<button ng-show="action == 'Add'" class="btn btn-primary" ng-click="addItem()">Add Item</button>
</div>
<br />






<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
<script src="app.js"></script>
</body>
</html>