{
	"cluster-id":       "cluster-name",
	"default-domain":   ".pasture.farm.com",
	"signature-method": "sha256",
	"api-url":          "https://console.pasture.farm.com/api/v1",
	"api-key":          "a-random-string-used-to-sign-api-calls",
	"client-id":        "a-key-assigned-by-the-dfe-console",
	"client-secret":    "a-secret-key-assigned-by-the-dfe-console",
}
