body.body-white {
	background-color: #ffffff;
}

body.body-light {
	background-color: #ccc;
}

.navbar {
	min-height:            43px;
	border-radius:         0;
	-moz-border-radius:    0;
	-webkit-border-radius: 0;
}

.navbar-toggle {
	padding: 6px 7px;
}

.navbar-fixed-top {
	height: 43px;
}

.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.5);
	transition:       background-color 1500ms, color 1500ms;
	color:            rgba(242, 242, 242, .8);
}

.navbar-inverse:hover {
	background-color: rgba(0, 0, 0, 0.8);
	transition:       background-color 1500ms, color 1500ms;
	color:            rgba(255, 255, 255, 1);
}

body.body-dark {
	background-color: #444;
}

body.body-starburst, body.body-starburst-default {
	background-size:     cover;
	background-image:    url(/img/bg-starburst-default.svg);
	background-position: center left;
	background-origin:   border-box;
}

body.body-starburst-orange {
	background-size:     cover;
	background-image:    url(/img/bg-starburst-orange.svg);
	background-position: center left;
	background-origin:   border-box;
}

body.body-starburst-blue {
	background-size:     cover;
	background-image:    url(/img/bg-starburst-blue.svg);
	background-position: center left;
	background-origin:   border-box;
}

body.body-starburst-red {
	background-size:     cover;
	background-image:    url(/img/bg-starburst-red.svg);
	background-position: center left;
	background-origin:   border-box;
}

body.body-starburst-yellow {
	background-size:     cover;
	background-image:    url(/img/bg-starburst-yellow.svg);
	background-position: center left;
	background-origin:   border-box;
}

.form-light h2:first-child {
	width:         auto;
	margin-top:    10px;
	border-bottom: 1px inset #f0f0f0;
}

#formbox.form-light form p.lead {
	color:       #333;
	font-size:   16px;
	font-weight: bold;
	text-align:  center;
}

.is-awesome {
	font-family:   "Droid Sans", "Open Sans", "Lato", Arial, sans-serif;
	color:         rgba(255, 255, 255, 0.15);
	font-size:     2em;
	margin-top:    8px;
	font-weight:   bolder;
	background:    transparent bottom left;
	transition:    background-position;
	cursor:        help;
	padding-right: 50px;
	padding-left:  50px;
}

.is-awesome:hover {
	background:                        #111 -webkit-gradient(linear, left top, right top, from(#111), to(#111), color-stop(0.5, #fff)) 0 0 no-repeat;
	color:                             rgba(1, 1, 1, 0.25);
	-webkit-background-size:           150px;
	-webkit-background-clip:           text;
	-webkit-animation-name:            spotlight;
	-webkit-animation-duration:        2500ms;
	-webkit-animation-iteration-count: infinite;
	transition:                        background-position;
}

@-webkit-keyframes spotlight {
	0% {
		background-position: top left;
	}
	50% {
		background-position: top right;
	}
	100% {
		background-position: top left;
	}
}

/** Box and shadows **/
.boxed {
}

.form-light {
	color:      #333;
	background: #fff;
}

.drop-shadow {
	position:           relative;
	float:              left;
	width:              40%;
	padding:            1.2em;
	/*margin:             2em 10px 4em;*/
	background:         #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
	box-shadow:         0 1px 5px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
	content:  "";
	position: absolute;
	z-index:  -2;
}

.drop-shadow p {
	font-size:   16px;
	font-weight: bold;
}

.lifted {
	-moz-border-radius: 4px;
	border-radius:      4px;
}

.lifted:before,
.lifted:after {
	bottom:             15px;
	left:               10px;
	width:              50%;
	height:             20%;
	max-width:          300px;
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:         0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:  rotate(-3deg);
	-moz-transform:     rotate(-3deg);
	-ms-transform:      rotate(-3deg);
	-o-transform:       rotate(-3deg);
	transform:          rotate(-3deg);
}

.lifted:after {
	right:             10px;
	left:              auto;
	-webkit-transform: rotate(3deg);
	-moz-transform:    rotate(3deg);
	-ms-transform:     rotate(3deg);
	-o-transform:      rotate(3deg);
	transform:         rotate(3deg);
}

.inset {
	/* Shadows are visible under slightly transparent text color */
	color:       rgba(103, 121, 57, 0.8);
	text-shadow: 0 1px 1px #ccc, 0 0 0 #000, 0 1px 1px #ccc;
}

/**
 * Error pages
 */
.container-error h1, .container-error h3 {
	font-family: "Droid Sans", "Open Sans", "Lato", Arial, sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
}

.container-error a {
	color: #111;
}

.container-error a:hover {
	color: #000;
}

.container-error {
	color: #fff;
}

.body-starburst .container-error {
	color: #333;
}

.container-error h3 {
	margin-top: 45px;
}

.container-error .error {
	font-size:   1.2em;
	font-weight: normal;
}
