/**************************************************************************
** Form Template Classes
**************************************************************************/

body {
	padding:          20px 0 0;
	color:            #F2F2F2;
	background-color: #1A1A1A;
	overflow:         hidden;
}

a {
	color: #cfcfcf;
}

a:hover, a:focus, a:active {
	color: #ffffff;
}

#logo, #formbox, .page-logo img {
	margin-left:  auto;
	margin-right: auto;
	position:     relative;
}

#logo img {
	margin:  0 auto;
	display: block;
}

#wrap {
	min-height: 100%;
	height:     100%;
	/* Negative indent footer by it's height */
	margin:     0 auto -40px;
}

#footer {
	height:           40px;
	position:         absolute;
	bottom:           0;
	width:            100%;
	background-color: #4D4D4D;
}

.footer-text {
	margin: 10px 0;
}

.align-center {
	text-align: center;
	margin:     auto;
}

#formbox {
	border-top: 1px solid rgba(218, 150, 40, 0.25);
	overflow:   hidden !important;
	text-align: left;
	position:   relative;
	margin-top: 15px;
	width:      480px;
}

#formbox h2 {
	text-align:    center;
	margin-bottom: 20px;
}

#formbox form {
	/*background: #2E363F;*/
	position: relative;
	top:      0;
	left:     0;
	margin:   0 auto;
}

#form-login {
	z-index: 200;
	display: block;
}

#form-recover {
	z-index: 100;
	display: none;
}

#form-recover .form-actions {
	margin-top: 10px;
}

#form-register {
	z-index: 100;
	display: block;
}

#form-register .form-actions {
	margin-top: 10px;
}

#formbox .form-group {
	margin:        0 auto;
	text-align:    center;
	margin-bottom: 14px;
}

#formbox .controls {
	padding: 0 20px;
}

#formbox .control-group {
	padding:       20px 0;
	margin-bottom: 0;
}

.form-buttons {
	border-top: 1px solid rgba(218, 150, 40, 0.25);
}

form, .form-buttons {
	margin-bottom: 0;
	background:    none;
	padding-top:   15px;
}

.form-buttons button {
	font-family: 'Open Sans', 'Helvetica Neue Light', 'Arial', sans-serif;
	font-weight: 300;
}

#formbox .normal_text {
	padding:     15px 10px;
	text-align:  center;
	font-size:   14px;
	line-height: 20px;
	/*background:  #2E363F;*/
	color:       #fff;
}

.dsp-system-name {
	letter-spacing: -1px;
	margin:         15px auto 0;
	color:          #da9628;
	font-weight:    300;
	font-size:      21px;
	text-align:     center;
	border-bottom:  1px solid rgba(218, 150, 40, 0.25);
	line-height:    32px;
	padding:        0;
}

.dsp-system-tagline {
	padding:        0 0 10px;
	font-size:      21px;
	color:          #ffb848;
	/*letter-spacing: normal;*/
	margin-top:     -10px;
	letter-spacing: normal;
}

.dsp-system-logo {
	width:          32px;
	height:         32px;
	vertical-align: text-bottom;
	margin-right:   5px;
}

/** Alerts **/
.alert-area {
}

.alert-area .alert {
	padding: 8px 14px;
}

.alert {
	margin:     10px auto auto;
	box-shadow: inset 0 0 0;
}

/** Form error message **/
.form-group div.error {
	color:          #eeeeee;
	text-align:     left;
	font-size:      15px;
	letter-spacing: normal;
}

.logo-container h3 {
	margin-top:    0;
	margin-bottom: 0;
	padding-top:   0;
}

@media (max-width: 768px) {
	.logo-container img {
		width: 192px;
	}

	#logo {
		width: 60%;
	}

	#formbox {
		width: 80%
	}

	.dsp-system-name {
		font-size: 19px;
	}
}

@media (max-width: 480px) {
	#logo {
		width: 40%;
	}

	#formbox {
		width: 90%
	}

	#formbox .control-group {
		padding:       8px 0;
		margin-bottom: 0;
	}

	.dsp-system-name {
		font-size: 17px;
	}
}

.strong-disabled::-webkit-input-placeholder {
	color: #333;
}

.strong-disabled::-moz-placeholder {
	color: #333;
}

/* firefox 19+ */
.strong-disabled:-ms-input-placeholder {
	color: #333;
}

/* ie */
.strong-disabled:-moz-placeholder {
	color: #333;
}

.page-logo {
	text-align: center;
}

.page-logo img {
	width: 64px;
}

#footer .footer-logo {
	display:               none;
	-webkit-box-shadow:    0 1px 0 rgba(255, 255, 255, .2), inset 0 4px 5px rgba(0, 0, 0, .6), inset 0 1px 0 rgba(0, 0, 0, .6);
	-moz-box-shadow:       0 1px 0 rgba(255, 255, 255, .2), inset 0 4px 5px rgba(0, 0, 0, .6), inset 0 1px 0 rgba(0, 0, 0, .6);
	box-shadow:            0 1px 0 rgba(255, 255, 255, .2), inset 0 4px 5px rgba(0, 0, 0, .6), inset 0 1px 0 rgba(0, 0, 0, .6);

	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	padding:               0;
	vertical-align:        top;

	height:                35px;
	width:                 35px;
	margin:                -8px -67px 0 0;
	overflow:              hidden;
	opacity:               0.8;
}

#footer .footer-logo img {
	width:          28px;
	padding-top:    0;
	margin-top:     3px;
	vertical-align: top;
	overflow:       hidden;
	opacity:        0.8;
}

#formbox .lead {
	font-size:   36px;
	font-weight: bold;
	color:       #ffffff;
}