/**
 * Classes specific to the login page
 */

/** Metro Background color class **/
.bg_lb {
	background: #27a9e3;
}

.bg_db {
	background: #2295c9;
}

.bg_dg {
	background: #239b63;
}

.bg_lg {
	background: #28b779;
}

.bg_ly {
	background: #ffb848;
}

.bg_dy {
	background: #da9628;
}

.bg_ls {
	background: #2255a4;
}

.bg_lo {
	background: #da542e;
}

.bg_lr {
	background: #f74d4d;
}

.bg_lv {
	background: #603bbc;
}

.bg_lh {
	background: #b6b3b3;
}

.input-group-addon {
	color:         rgba(255, 255, 255, 0.80);
	border:        1px solid rgba(255, 255, 255, 0.25);
	border-top:    1px solid rgba(255, 255, 255, 0.25);
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.input-group.remember-me {
	cursor: pointer;
}

/** Form error message **/
#formbox .form-group label.error {
	text-align:  right;
	margin:      2px 0 -12px -2px;
	width:       100%;
	color:       rgb(230, 169, 12);
	font-weight: normal;
	font-size:   14px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, .75);
}

/** Icon in front of input **/
.form-group.has-error span.input-group-addon i.fa {
	/*text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.40);*/
}

.form-group.has-success span.input-group-addon i.fa {
	/*text-shadow: 0 0 6px rgba(217, 180, 0, 0.8);*/
}

.strong-disabled {
	color: #333;
}

/**
 * Input add-on/checkbox tweaks
 */
.input-group-addon.bg-control {
	padding:    0 10px;
	text-align: center;
	margin:     0 auto;
	font-size:  18px;
}

.input-group-addon.bg-control i.fa {
	/*text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8);*/
}

.input-group-addon.bg-control i.fa.fa-2x {
	font-size: 22px;
}

.input-group .bg-control i.fa.fa-times-circle-o, .input-group .bg-control i.fa.fa-check-circle-o {
	font-size: 26px;
}

.remember-me {
	color: #666;
}

.remember-checked {
	color:       #111;
	font-weight: bold;
}

.remember-me .bg-control {
	background-color: #D17F3E;
}

.remember-me #remember-control {
	cursor:                             pointer;
	text-align:                         center;
	-moz-border-radius-topright:        4px;
	-moz-border-radius-bottomright:     4px;
	-webkit-border-top-right-radius:    4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius:         4px;
	border-top-right-radius:            4px;
}

.remember-me .fa-times-circle-o {
	color: #EED0B9;
}

.remember-me .fa-check-circle-o {
	color: #D4DF56;
}

.remember-me #remember-control {
	cursor: pointer;
}

.alert {
	padding: 12px 15px;
}

.alert.alert-danger strong:first-child {
	text-align:    left;
	font-size:     18px;
	font-weight:   lighter;
	border-bottom: 1px inset rgba(139, 0, 0, 0.20);
	display:       block;
	width:         100%;
	margin-bottom: 10px;
}

.alert.alert-danger ul li {
	font-size:       14px;
	font-weight:     lighter;
	text-align:      left;
	list-style-type: circle;
}

/** style for "remember me" label on login view */
#LoginForm_rememberMe {
	vertical-align: top;
}

#login-form > div:nth-child(6) > label {
	margin-bottom:  0;
	padding-bottom: 0;
	margin-left:    4px;
}

