/**
 * Classes specific to the login page
 */

/*Metro Background color class*/
.bg_lb {
	background: #27a9e3;
}

.bg_db {
	background: #2295c9;
}

.bg_dg {
	background: #239b63;
}

.bg_lg {
	background: #28b779;
}

.bg_ly {
	background: #ffb848;
}

.bg_dy {
	background: #da9628;
}

.bg_ls {
	background: #2255a4;
}

.bg_lo {
	background: #da542e;
}

.bg_lr {
	background: #f74d4d;
}

.bg_lv {
	background: #603bbc;
}

.bg_lh {
	background: #b6b3b3;
}

.input-group-addon {
	color:         rgba(255, 255, 255, 0.80);
	border:        1px solid rgba(255, 255, 255, 0.25);
	border-top:    1px solid rgba(255, 255, 255, 0.25);
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/** Form error message **/
.form-group .error {
	/*color:          #eeeeee;*/
	/*text-align:     left;*/
	/*font-size:      15px;*/
	/*letter-spacing: normal;*/
}

#formbox .form-group label.error {
	text-align:   right;
	margin-left:  0;
	margin-right: 5px;
	width:        100%;
	color:        goldenrod;
}

.form-group.has-error span.input-group-addon {
	height: 34px;
}

.input-group.remember-me {
	cursor: pointer;
}

.strong-disabled::-webkit-input-placeholder {
	color: #333;
}

.strong-disabled::-moz-placeholder {
	color: #333;
}

/* firefox 19+ */
.strong-disabled:-ms-input-placeholder {
	color: #333;
}

/* ie */
.strong-disabled:-moz-placeholder {
	color: #333;
}

.remote-login-providers {
	display:    block;
	overflow:   hidden;
	background: transparent url(../img/bg-remote-login.png) center center no-repeat;
}

