#grid-table table {
	width:         250px;
	margin-bottom: 0;
}

#grid-table input {
	background-color: transparent;
	border:           0 none;
	box-shadow:       none;
	border-radius:    0;
	margin:           2px;
	padding:          0;
	width:            100%;
	color:            #bbbbbb !important;
	font-size:        12px;
}

#grid-table td {
	width: 100%;
}

#grid-table td.ng-binding {
	cursor:    pointer;
	font-size: 10pt;
}

#file-manager iframe, #app-preview iframe {

	width: 100%;
}

#grid-table th {
	width:       auto;
	white-space: nowrap;
}

#app-details {
	vertical-align: top;
	border:         0;
	width:          100%;
}

#grid-table select {
	color:            #bbbbbb !important;
	font-size:        12px;
	width:            100px;
	background-color: transparent;
	border:           0 none;
	box-shadow:       none;
	border-radius:    0;
	margin:           0;
	padding:          5px;
}

#grid-table {
	margin-left:      0;
	margin-right:     0;
	padding:          0;
	width:            auto;
	background-color: #f5f5f5;
	overflow:         auto;

}

#schema-main {
	height: 200px;
}

#parameter-grid {
	height:       200px;
	margin-right: 10px;
	margin-top:   30px;
	width:        400px;

}

.ngCell {
	height: 40px !important;

}

#header-grid {
	height:       200px;
	margin-right: 10px;
	margin-top:   30px;
	width:        400px;

}

#key-grid {
	height:       200px;
	margin-right: 10px;
	margin-top:   30px;
	width:        475px;

}

html, body, #container {
	height: 100%;
}

/*#container {*/
/*margin-top: 20px;*/
/*position:   relative;*/
/*}*/

.access {
	display: inline-block;
	width:   80px;
}

.limit-list {
	max-height: 200px;
	overflow:   auto;
}

.limit-big-list {
	max-height: 400px;
	overflow:   auto;
}

.filter-control {
	display:      inline-block;
	padding-left: 5px;
}

.field-list td {
	padding-bottom: 0;
}

.ie-width-fix {
	margin:      0;
	padding:     0;
	line-height: 1;
	height:      1px;
}

.ngCell div {
	height: 100%;
}

#cors-list label {
	display:   inline-block;
	font-size: 9px;
	position:  relative;
	bottom:    4px;
	margin:    3px;
}

#cors-list {
	max-height: 300px;
	overflow:   auto;
}

.cors-list label {
	display:   inline-block;
	font-size: 9px;
	position:  relative;
	bottom:    4px;
	margin:    3px;
}

.cors-list {
	max-height: 300px;
	overflow:   auto;
}

#root-file-manager {
	height:         0;
	margin-left:    10px;
	overflow:       auto;
	padding-bottom: 100%;
	padding-top:    30px;
	position:       relative;
	width:          100%;
}

#swagger, #docs {
	margin-left:      10px;
	background-color: white;
	position:         relative;
	padding-bottom:   65.25%;
	padding-top:      30px;
	height:           0;
	/*overflow:         auto;*/
}

#login-page {
	height:         100%;
	left:           0;
	overflow:       auto;
	padding-bottom: 65.25%;
	padding-top:    30px;
	position:       absolute;
	top:            -50px;
	width:          100%;
	z-index:        999999;
}

#swaggerFrame, #docsFrame, #login-frame, #root-file-manager iframe {
	position: absolute;
	top:      0;
	left:     15px;
	width:    100%;
	height:   90%;
}

#event-listing {

}

#event-listing ul {
	list-style:    none;
	margin-bottom: 0;
}

#editor {
	height: 400px;
	/*left:        300px;*/
	/*margin-left: 2px;*/
	/*margin-top:  -1px;*/
	/*position:    absolute;*/
	/*right:       22px;*/
	/*width:       auto;*/
}

#event-container td {
	vertical-align: top;
}

.event-name {
	padding:          5px;
	background-color: #FFFFFF;
	border:           1px solid #DDDDDD;
	font-weight:      bold;
	font-size:        1.1em;
	cursor:           pointer;
	margin-bottom:    -1px;
}

.event-list {
	margin-right: 5px;

}

.path-name {
	padding:          5px;
	background-color: #FFFFFF;
	border:           1px solid #DDDDDD;
	cursor:           pointer;
	margin-bottom:    -1px;
}

.path-verb {
	padding:          0px;
	background-color: #FFFFFF;
	border:           1px solid #DDDDDD;
	margin-bottom:    -1px;

	cursor:           pointer;
}

.search-box {
	padding:   5px;
	font-size: .9em;
	color:     #787878;
}

#script-name {
	background:   none repeat scroll 0 0 #333333;
	color:        #F9F9F9;
	cursor:       pointer;
	height:       50px;
	padding-left: 20px;
	padding-top:  10px;
	width:        98%;
}

.high-name {
	color: #e67e22;
}

#sample-events {
	display:      inline-block;
	float:        right;
	margin-right: 10px;

}

#master-list {
	list-style: none;
	display:    inline;
}

#resource-container td {
	vertical-align: top;
	padding:        10px;
}

#resource-list {
	width: 300px;
}

.resource-name {
	width:   160px;
	display: inline-block;

}

.script-id {
	background-color: #ffffff;
	display:          inline-block;
	margin:           0;
	padding:          3px;
	width:            100%;
}

.active-script {
	background-color: #428BCA;
	border-color:     #428BCA;
	color:            #FFFFFF;
	display:          inline-block;
	margin:           0;
	padding:          3px;
	width:            100%;
}

.user-name {
	display:       inline-block;
	overflow:      hidden;
	text-overflow: ellipsis;
	white-space:   nowrap;
}

.table-name {
	display:       inline-block;
	overflow:      hidden;
	text-overflow: ellipsis;
	white-space:   nowrap;
	width:         200px;
}

*, .active > a:focus {
	outline: medium none !important;
}

#main-content {
	padding-left: 0;
}

#app-buttons {
	display:       inline-block;
	margin-bottom: 5px;
}

.resource-header {
	padding-bottom: 16px;
}

.user-buttons {
	display:       inline-block;
	float:         right;
	margin-bottom: 3px;
}

#resource-list .active {
	background-color: #428BCA;
	color:            #FFFFFF;
}

#config-form {
	padding: 10px;
}

#config-form {
	padding: 10px;
}

#schema-list {
	width: 300px;
}

h2.panel-title {
	font-size:   22px;
	font-weight: bold;
}

h3.panel-title {
	font-size:   20px;
	font-weight: bold;
}

#schema-list accordion {
	display: inline-block;
	width:   330px;
}

.list-group-item {
	padding: 8px 12px;
}

.alert > i.fa {
	vertical-align: middle;
}

.list-group-item > i.fa, .alert > i.fa {
	min-width:    14px;
	margin-right: 8px;
	opacity:      0.8;
	transition:   opacity 0.3s;
}

a.list-group-item:hover > i.fa, .alert:hover > i.fa {
	opacity:    1;
	transition: opacity 0.3s;
}

.radio > label > i.fa, .form-group > a > i.fa {
	margin-left:  4px;
	margin-right: 4px;
	opacity:      0.8;
	transition:   opacity 0.3s;
}

.radio > label > i.fa:hover, .form-group > a > i.fa:hover {
	opacity:    1;
	transition: opacity 0.3s;
}

#schema-editor {
	height: 300px;
	width:  100%;
}

.affix {
	position: static;
	top:      20px !important;
}

.affix-top {
	position: fixed;
	top:      20px !important;
}

.affix-bottom {
	position: fixed;
	bottom:   0;
	top:      auto;
}

.divider:before {
	content: "/\00a0";
	padding: 0 0 0 4px;
	color:   #ccc;
}

.table-listing {
	max-height: 300px;
	width:      310px;
	overflow-x:   hidden;
}

.app-wrapper {
	padding-top: 15px;
}

.df-list-group .bg-primary {

	background-color: #428bca !important;
}

.df-col-padding-override {

	padding: 0 !important;
}

.list-group-item {
	cursor: default;
}

.panel-heading {
	cursor: pointer;
}

@media (max-width: 991px) {
	.sidebar .list-group-item {
		width:    32px;
		height:   32px;
		overflow: hidden;
		padding:  2px 0;
	}

	.sidebar .list-group-item a {
		padding-left:  0;
		padding-right: 0;
		white-space:   nowrap;
		width:         100%;
	}

	.sidebar .list-group-item > i.fa {
		margin:     0 100px 0 0;
		font-size:  22px;
		padding:    3px 0;
		text-align: center;
		width:      100%;
		overflow:   hidden;
	}
}

.accordion-toggle {
	cursor: pointer;
}

label.error {
	margin-top: 5px;
	color:      darkred;
}

.has-feedback .form-control-feedback {
	top:   0;
	right: 15px;
}

.btn-group-nav > .btn {
	font-family: "Open Sans", "Lato", Arial, sans-serif;
}

.btn-group-nav > .btn-md,
.btn-group-nav.btn-group-md > .btn,
.btn-group-nav > .dropdown-menu,
.btn-group-nav > .btn {
	font-size: 13px;
}

.btn-group-nav > .btn-sm,
.btn-group-nav > .btn-xs,
.btn-group-nav.btn-group-sm > .btn,
.btn-group-nav.btn-group-xs > .btn,
.btn-group-nav > .dropdown-menu {
	font-size: 13px;
}

.btn-group-nav > .btn > i.fa {
	margin-right: 8px;
}

.btn-group-nav.btn-group-sm > .btn > i.fa {
	margin-right: 6px;
}

.btn-group-nav.btn-group-xs > .btn > i.fa {
	margin-right: 4px;
}

.btn-group-nav > .btn > i.fa.fa-caret-down {
	margin-right: 0;
	margin-left:  4px;
}

.btn-group-nav > ul > li > a > i[class^="icon-"] {
	margin-left:  0;
	margin-right: 8px;
	font-size:    1.4em;
	color:        #428bca;
	opacity:      0.5;
	transition:   0.3s;
}

.btn-group-nav > ul > li > a > img[class^="icon-"] {
	height:         18px;
	vertical-align: top;
	margin:         0 8px 0 -1px;
	opacity:        0.5;
	transition:     0.3s;
}

.btn-group-nav > ul > li > a:hover > img[class^="icon-"],
.btn-group-nav > ul > li > a > img[class^="icon-"]:hover,
.btn-group-nav > ul > li > a:hover > i[class^="icon-"],
.btn-group-nav > ul > li > a > i[class^="icon-"]:hover {
	opacity:    1.0;
	transition: 0.3s;
}

.btn-group-nav > .dropdown-menu > li > a {
	padding: 3px 20px 3px 10px;
}
