
<div class="navbar navbar-default">
    <span style="display: inline" class="navbar-brand">User Management</span>

   <!-- <div class="collapse navbar-collapse" id="access-management-module-nav">
        <ul class="nav navbar-nav navbar-right">
            <li data-ng-class="activeView === 'manage' ? 'active' : '' "data-ng-click="open('manage')"><a>Manage</a></li>
            <li data-ng-class="activeView === 'create' ? 'active' : '' " data-ng-click="open('create')"><a>Create</a></li>
        </ul>
    </div>-->
</div>


<df-manage-users></df-manage-users>

<!--
<div data-ng-show="activeView === 'create'">
    <df-create-user data-roles="roles"></df-create-user>
</div>

<div data-ng-show="activeView === 'manage'">
   <df-manage-users></df-manage-users>
</div>
-->
