<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" data-target="#global-lookup-keys-config-body">
            <h4 class="panel-title">Global Lookup Keys Configuration</h4>
        </a>
    </div>

    <div id="global-lookup-keys-config-body" class="panel-collapse collapse">

        <div class="alert alert-info">
            <li class="icon-info-sign"></li>
            Lookup keys for services and credentials must be made private.
        </div>

        <button type="button" class="btn btn-default" data-ng-click="addGlobalLookupKey()">Add Lookup Key
        </button>

        <table class="table">

            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Private</th>
                <th>Remove</th>
            </tr>
            <tr data-ng-repeat="lookupKey in systemConfig.lookup_keys track by $index">

                <td>
                    <input data-ng-model="lookupKey.name" type="text" class="form-control"/>
                </td>

                <td>
                    <input data-ng-model="lookupKey.value" type="text" class="form-control"/>
                </td>

                <td>
                    <input data-ng-model="lookupKey.private" type="checkbox" data-ng-checked="lookupKey.private"/>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-danger"
                            data-ng-click="removeGlobalLookupKey($index)">Remove
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>