<div class="navbar navbar-default">
    <span style="display: inline" class="navbar-brand">System Config</span>

    <div class="collapse navbar-collapse" id="access-management-module-nav">
        <ul class="nav navbar-nav navbar-right">
            <li data-ng-click="updateConfig()"><a>Save</a></li>
        </ul>
    </div>

</div>

        <dreamfactory-system-info></dreamfactory-system-info>
        <dreamfactory-cors-config></dreamfactory-cors-config>
        <dreamfactory-guest-users-config></dreamfactory-guest-users-config>
        <dreamfactory-open-registration-config></dreamfactory-open-registration-config>
        <dreamfactory-user-invites-config></dreamfactory-user-invites-config>
        <dreamfactory-password-reset-config></dreamfactory-password-reset-config>
        <dreamfactory-global-lookup-keys-config></dreamfactory-global-lookup-keys-config>
